/* -----------------------------------------------------------------------------
 * Global
 * -------------------------------------------------------------------------- */

body {
    overflow: hidden;
}

body > div.container-fluid {
    padding: 10px;
}

ul.nav.nav-tabs {
    margin-bottom: 20px;
}

/* Fix for selectInputs to not get clipped by .tab-content parent element. */
div.tab-content {
    overflow-y: scroll;
    max-height: calc(100vh - var(--top-bar-height) - 60px);
}

p.bad_files_info, p.no_file_uploaded {
    font-style: italic;
    color: gray;
}

p.no_good_file {
    color: orangered;
    font-weight: bold;
}

/* -----------------------------------------------------------------------------
 *  Title Panel
 * -------------------------------------------------------------------------- */

body > h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 0px;
    box-shadow: 0px 0px 2px 3px var(--theme-color-dark);
}

div#title {
    display: inline-block;
}

a#github_url {
    float: right;
    color: var(--theme-color-secondary);
}


/* -----------------------------------------------------------------------------
 *  Main Panel
 * -------------------------------------------------------------------------- */

/* Sides padding for main panel tabs' contents. */
#main_panel div.tabbable > div.tab-content {
    padding-left: 10px;
    padding-right: 10px;
}

#plot_coverage_header {
    margin-top: 0;
}

#summary_table_header {
    margin-top: 10px;
}

#summary_table {
    overflow: scroll;
}

#summary_table tr > *:first-child {
    text-align: left !important;
}

#download_svg {
    margin: 5px 5px 0px 0px;
}

/* [[ Plot ]] */
:root {
    --plot-color-vert: #00008B;
    --plot-color-vert-click: #8B008B;
    --plot-color-vert-drag: #FF1493;
    --plot-color-axes: #000000;
    --plot-color-axes-labels: #000000;
}

div#plot svg {
    user-select: none;
}

div#plot g.verts text {
    font-family: sans-serif;
    font-weight: bold;
    text-anchor: middle;
}

div#plot g#lines.allow-verts-marking line.vert-mark {
    stroke: var(--plot-color-vert) !important;
}

div#plot g#lines.allow-verts-marking line.vert-click-mark:not(.vert-mark) {
    stroke: var(--plot-color-vert-click) !important;
}

div#plot g.axis > path, div#plot g.axis g.tick > line {
    color: var(--plot-color-axes);
}

div#plot g.axis g.tick > text {
    color: var(--plot-color-axes-labels);
}

/* [[ Data Preview ]] */
/* selectInput for the file to preview (extending the input to file's name). */
div#previewed_file div.selectize-control, div#previewed_file div.selectize-dropdown {
    min-width: max-content;
}

div#previewed_file div.has-items {
    padding-right: 32px;
}


/* -----------------------------------------------------------------------------
 * Sidebar Panel
 * -------------------------------------------------------------------------- */

#file_info {
    padding: 0 !important;
    background: none !important;
    border: none !important;
}

#file_info:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#file_info > i {
    color: var(--theme-color-buttons) !important;
}

#file_info > i:hover {
    color: var(--theme-color-buttons-secondary) !important;
}

/* Improving sidebar layout. */
body > div.container-fluid > div > form.well {
    padding: 0;
}

#sidebar_panel .tab-content > .active {
    margin: 0 10px;
    padding-bottom: 30px;
}

#sidebar_panel .tab-content > .active > *:not(h3) {
    margin: 0 10px;
}

.sidebar_margin {
    margin-left: 10px;
}

#seq_len_div.sidebar_margin * {
    margin-bottom: 0;
}

#seq_len_div.sidebar_margin div.manual_split_layout {
    display: inline-block;
    vertical-align: middle;
}

#sequence_length_max {
    margin-bottom: 3px;
    margin-left: 5px;
    white-space: normal;
}


/* [[ Input Settings ]] */
#file_upload_div div.form-group, #file_upload_div div.progress {
    margin-bottom: 0;
}

#file_upload_div div.shiny-split-layout > div:nth-child(2) {
    vertical-align: bottom;
}

#sample_upload {
    margin-bottom: 20px;
}

#sequence_length[is_wrong] {
    border-color: orangered;
    border-width: 2px;
}

/* Input summary table. */
#input_summary_table thead {
    background-color: var(--theme-color-main);
    color: var(--theme-color-bright-text);
    font-weight: bold;
    text-align: center;
}

#input_summary_table thead td {
    width: 22%;
    padding: 6px;
}

#input_summary_table tbody td:not(:last-child) {
    padding: 0 3px;
    max-width: 0;
}

/* Alternating colors starting from the first row, excluding error files. */
#input_summary_table tbody tr:nth-child(even):not(.error) td:not(:last-child) {
    background-color: var(--theme-color-bright-text);
}


/* File name & sequence length cells. */
#input_summary_table td > p {
    text-align: center;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* selectInput cells. */
#input_summary_table td:not(:last-child) * {
    margin: 0px;
}

#input_summary_table div.selectize-control {
    display: flex;
}

#input_summary_table div.checkbox {
    display: inline;
    vertical-align: middle;
}

#input_summary_table button {
    font-size: 14px;
    padding: 4px 6px;
    margin: 5px;
}

.import_summary_row.error > :not(:last-child) {
    background-color: var(--theme-color-background-warning);
    color: var(--theme-color-warning-text);
}


/* [[ Plot Settings ]] */
div#plot_settings_inputs > h3:first-of-type {
    margin-top: 5px;
}

div#plot_settings_inputs > h3 {
    margin-top: 25px;
}

.color_input {
    margin-bottom: 10px;
}

.color_input > h5 {
    margin-bottom: 5px;
}
