/* Better styling */
ul.nav.nav-tabs {
    margin-bottom: 20px;
}


/* For selectInputs to not get clipped by .tab-content parent element */
div.tab-content {
    overflow-y: visible;
}


/* selctInput for the file to preview (extending the input to file's name) */
div#previewed_file div.selectize-control, div#previewed_file div.selectize-dropdown {
    min-width: max-content;
}

div#previewed_file div.has-items {
    padding-right: 32px;
}


/* Sides padding for main panel tabs' contents. */
#main_panel div.tabbable > div.tab-content {
    padding-left: 10px;
    padding-right: 10px;
}


body {
    padding: 10px;
}
