/* -----------------------------------------------------------------------------
 * Global
 * -------------------------------------------------------------------------- */

body {
    padding: 10px;
}

ul.nav.nav-tabs {
    margin-bottom: 20px;
}

/* Fix for selectInputs to not get clipped by .tab-content parent element. */
div.tab-content {
    overflow-y: visible;
}

p.bad_files_info, p.no_file_uploaded {
    font-style: italic;
    color: gray;
}

p.no_good_file {
    color: orangered;
    font-weight: bold;
}


/* -----------------------------------------------------------------------------
 *  Main Panel
 * -------------------------------------------------------------------------- */

/* Sides padding for main panel tabs' contents. */
#main_panel div.tabbable > div.tab-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* [[ Data Preview ]] */
/* selectInput for the file to preview (extending the input to file's name). */
div#previewed_file div.selectize-control, div#previewed_file div.selectize-dropdown {
    min-width: max-content;
}

div#previewed_file div.has-items {
    padding-right: 32px;
}


/* -----------------------------------------------------------------------------
 * Sidebar Panel
 * -------------------------------------------------------------------------- */

/* Improving sidebar layout. */
#sidebar_panel .tab-content > .active {
    margin: 0 10px;
}

#sidebar_panel .tab-content > .active > *:not(h3) {
    margin: 0 10px;
}

.sidebar_margin {
    margin-left: 10px;
}

#seq_len_div.sidebar_margin * {
    margin-bottom: 0;
}

#seq_len_div.sidebar_margin div.manual_split_layout {
    display: inline-block;
    vertical-align: middle;
}

#sequence_length_max {
    margin-bottom: 3px;
    margin-left: 5px;
    white-space: normal;
}


/* [[ Input Settings ]] */
#sequence_length[is_wrong] {
    border-color: orangered;
    border-width: 2px;
}

/* Input summary table. */
#input_summary_table thead {
    background-color: var(--theme-color-main);
    color: var(--theme-color-bright-text);
    font-weight: bold;
    text-align: center;
}

#input_summary_table thead td {
    width: 22%;
    padding: 6px;
}

#input_summary_table tbody td:not(:last-child) {
    padding: 0 3px;
    max-width: 0;
}

/* Alternating colors starting from the first row, excluding error files. */
#input_summary_table tbody tr:nth-child(even):not(.error) td:not(:last-child) {
    background-color: var(--theme-color-bright-text);
}


/* File name & sequence length cells. */
#input_summary_table td > p {
    text-align: center;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* selectInput cells. */
#input_summary_table td:not(:last-child) * {
    margin: 0px;
}

#input_summary_table div.selectize-control {
    display: flex;
}

#input_summary_table button {
    font-size: 14px;
    padding: 4px 6px;
    margin: 5px;
}

.import_summary_row.error > :not(:last-child) {
    background-color: var(--theme-color-background-warning);
    color: var(--theme-color-warning-text);
}
