/* -----------------------------------------------------------------------------
 * Global
 * -------------------------------------------------------------------------- */

body {
    padding: 10px;
}

ul.nav.nav-tabs {
    margin-bottom: 20px;
}

/* Fix for selectInputs to not get clipped by .tab-content parent element. */
div.tab-content {
    overflow-y: visible;
}

p.bad_files_info, p.no_file_uploaded {
    margin-left: 10px;
    font-style: italic;
    color: gray;
}

p.no_good_file {
    color: orangered;
    font-weight: bold;
}


/* -----------------------------------------------------------------------------
 *  Main Panel
 * -------------------------------------------------------------------------- */

/* Sides padding for main panel tabs' contents. */
#main_panel div.tabbable > div.tab-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* [[ Data Preview ]] */
/* selectInput for the file to preview (extending the input to file's name). */
div#previewed_file div.selectize-control, div#previewed_file div.selectize-dropdown {
    min-width: max-content;
}

div#previewed_file div.has-items {
    padding-right: 32px;
}


/* -----------------------------------------------------------------------------
 * Sidebar Panel
 * -------------------------------------------------------------------------- */

/* Improving sidebar layout. */
#sidebar_panel .tab-content > .active {
    margin: 0 10px;
}

#sidebar_panel .tab-content > .active > *:not(h3) {
    margin: 0 10px;
}

/* [[ Input Settings ]] */
#sequence_length[is_wrong] {
    border-color: orangered;
    border-width: 2px;
}

/* TODO: update this CSS. */
.import_summary_row.error {
    background-color: red;
}
